<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Fumblr</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
</head>
<body>  
  {{{body}}}
</body>
</html>